<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Example Content</string>
	<key>StringsTable</key>
	<string>mySettings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>BLFullButtonSpecifier</string>
			<key>Title</key>
			<string>退出</string>
			<key>Key</key>
			<string>kPreferenceSignout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>联系我们</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>BLURLButtonSpecifier</string>
			<key>Title</key>
			<string>主页..</string>
			<key>Key</key>
			<string>http://nick.luckygarden.org/?page_id=295</string>
			<key>ExternalLaunch</key>
			<true/>
			<key>Restrictive</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>BLURLButtonSpecifier</string>
			<key>Title</key>
			<string>亦歌吧..</string>
			<key>Key</key>
			<string>http://tieba.baidu.com/f?kw=%D2%E0%B8%E8</string>
			<key>ExternalLaunch</key>
			<true/>
			<key>Restrictive</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>BLURLButtonSpecifier</string>
			<key>Title</key>
			<string>邮件..</string>
			<key>Key</key>
			<string>mailto:nicoster@gmail.com</string>
			<key>ExternalLaunch</key>
			<true/>
			<key>Restrictive</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
